[submodule "e2ee-messaging-android-app-backend"]
	path = e2ee-messaging-android-app-backend
	url = https://github.com/lst97/e2ee-messaging-android-app-backend
[submodule "e2ee-messaging-android-app-frontend"]
	path = e2ee-messaging-android-app-frontend
	url = https://github.com/lst97/e2ee-messaging-android-app-frontend
